.content-holder {
    @extend .flex-container;
    height: 100%;

    .content {
        width: 100%;
        height: 100vh;
    }
}

.main-content {
    padding: 0 35px 30px;
    margin-left: 300px;
    position: relative;
}

