.login-bg {
    background: url('../img/login-bg.jpg') no-repeat;
    background-size: cover;
    height: 100%;

    .logo-holder {
        margin-bottom: 30px;
    }

    .form-group label {width: 100%;}
}

.login-content {
    background: #fff;
    min-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.error_message {
    background: #e74c3c;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}