.pagination {
    @extend .d-flex;
    list-style: none;
    li {
        margin-right: 10px;
        &.active {
            a {
                background: #2c3e50;
                color: #fff;
            }
        }
    }

    a {
        padding: 10px;
        border: 1px solid #eee;
        text-decoration: none;
        color: #333;
        &:hover {
            background: #2c3e50;
            color: #fff;
            border-color: #2c3e50;
        }
       
    }
}